/* #heading{
    color: brown;
} */
h3,h4,h5,h6{
    margin: 0px;
}
.header{
    display: flex;
    border: 1px solid #ccc;
    justify-content: space-between;
}
.logo-container {
    justify-content: center;
    display: flex;
}
.logo {
    width: 100px;
    margin: auto;
}
.nav-items {
    width: 38%;
    /* text-align: center; */
}
.nav-items>ul{
    display: flex;
    /* justify-content: center; */
    
}
.nav-items>ul>li{
    padding: 10px;
    list-style: none;
    font-size: 18px;
}
.filter{
    display: flex;
}
.restro-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.res-card {
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.5);
    width: 200px;
    /* height: 300px; */
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    word-wrap: break-word;
}
.search {
    padding: 10px;
}
.res-card-pic img {
    width: 100%;
    /* overflow: hidden; */
}

.res-card-pic {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.filter-btn{
    padding: 5px;
    margin: 10px;
    background-color: #f30;
    color: #fff;
    border: 0px;
    cursor: pointer;

}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.shimmer-card{
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.5);
    width: 200px;
    height: 300px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    word-wrap: break-word;
}
.btnlog{
    padding: 0px 20px;
    color: #fff;
    background: #F30;
    border: 0;
    cursor: pointer;
}
/* ERROR PAGE */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .gif {
    display: flex;
    justify-content: center;
  }
  
  .content {
    text-align: center;
    margin: 3rem 0;
  }
  
  .content .main-heading {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .user-card{
    border: 1px solid #ddd;
    padding: 10px;
  }